body {
    font-size: 12px;
}

/*=====================================================================================================================
CANVAS GRAFICAS
=====================================================================================================================*/

.flex3 { 
    display: flex; 
    justify-content: space-between; 
    
} 

.dimensiones {
    height: 300px; /*200*/
}

.separacion {
    margin-bottom: 10px;
}

canvas {
    width: auto;
}

.dimensiones_2 {
    height: 75px;
}
.contenedor-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-card>p{
font-size: 25px;
}

/*=====================================================================================================================
TAMAÑO ICONOS NIVEL, ESTATUS -> .tam / TAMAÑO ICONOS BOOTSTRAP SIMBOLOGIA -> .tam-i
=====================================================================================================================*/
.tam {
    font-size: 2em;
}

.tam-i {
    font-size: 1.5em;
}

/*=====================================================================================================================
ESTILOS MODALES
=====================================================================================================================*/
.modal-color {
    background-color: #FF5757;
    color: white;
}

/*=====================================================================================================================
ESTILOS TABLA
=====================================================================================================================*/
table th {
    background-color: #FF5757;
    color: white;
}

/* SCROLL X */
#displayDataTable,
#displayDataTablePendiente,
#displayDataTableDesarrolloo,
#displayDataTableCompletadas {
    overflow: auto;
}

/*=====================================================================================================================
ESTILOS SIMBOLOGIA
=====================================================================================================================*/
.referencia {
    background: #ffffff;
    color: rgb(0, 0, 0);
    display: inline-block;
    /* font-size: 1.25em; */
    /* margin: 4px; */
    margin: 0px 4px;
    padding: 10px 0px;
    text-align: center;
}

.referencia i {
    margin-right: 4px;
}

/*=====================================================================================================================
ESTILOS FORMULARIO VER INFORMACION
=====================================================================================================================*/
textarea {
    resize: none;
}

.re {
    width: 100%;
    display: flex;
    justify-content: right;

}

.accionesPeticion {
    margin: 3px;
}

.accionesDesarrollador {
    margin: 3px;
}

/*=====================================================================================================================
ESTILOS FILTROS DE BUSQUEDA
=====================================================================================================================*/
.flex-container {
    display: flex;
    justify-content: flex-end;

}

.flex-container>div {
    width: auto;
    text-align: center;
    margin: 0px 10px;
}

.flex-container>div>input {
    display: inline;
    width: auto;

}

.flex-container>div>select {
    display: inline;
    width: auto;

}

.flex-container>div>button {
    display: inline;
    width: auto;

}

.flex-container_2 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;

}

.flex-container_2>div {
    width: auto;
    text-align: center;
    margin: 0px 10px;
}

.flex-container_2>div>input {
    display: inline;
    width: auto;

}

.flex-container_2>div>select {
    display: inline;
    width: auto;

}

.flex-container_2>div>button {
    display: inline;
    width: auto;

}

/*=====================================================================================================================
ESTILOS COLLAPSE
=====================================================================================================================*/

.panel-default>.panel-heading-custom-1 {
    background: #D4AC0D;
    color: #fff;
}

.panel-default>.panel-heading-custom-2 {
    background: #2471A3;

}

.panel-default>.panel-heading-custom-2 > h4 > a{
    color: #fff;
}

.panel-heading-custom-2 > label{
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #fff;
}

.panel-default>.panel-heading-custom-3 {
    background: #138D75;
}

.panel-default>.panel-heading-custom-3 > h4 > a{
    color: #fff;
}

.panel-heading-custom-3 > label{
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #fff;
}

.panel-default>.panel-heading-custom-4 {
    background: #707B7C;
    color: #fff;
}

.panel-default>.panel-heading-custom-5 {
    background: #8e44ad;
}

.panel-default>.panel-heading-custom-5 > h4 > a{
    color: #fff;
}

.panel-heading-custom-5 > label{
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #fff;
}


.panel-default>.panel-heading-custom-6 {
    background: #A93226;
    color: #fff;
}

/*=====================================================================================================================
MEDIA QUERY 
=====================================================================================================================*/
@media screen and (max-width: 1199px) {

    .boton {
        margin-bottom: 2px;
    }

    .flex-container {
        flex-direction: column;

    }

    .flex-container>div {

        width: 100%;
        text-align: left;
        margin: 5px 0px;
    }

    .flex-container>div>input {
        display: inline;
        width: 100%;

    }

    .flex-container>div>select {
        display: inline;
        width: 100%;

    }

    .flex-container>div>button {
        display: inline;
        width: 100%;

    }

    

    
}