body {
    font-size: 12px;
}



/*=================
TAMAÑO ICONOS DE Bootstrap 
=================*/
/* .bi {} */

.tam {
    font-size: 2em;
}

.tam-i{
    font-size: 1.5em;
}

/*=================
ESTILOS MODALES PARTE DE ARRIBA
=================*/
.modal-color {
    background-color: #FF5757;
    color: white;
}

/* =================
ESTILOS Tabla
================= */
table th {
    background-color: #FF5757;
    color: white;
}

/* =================
CONTENEDOR DATATABLE SCROLL X
================= */
#displayDataTable {
    overflow: auto;
}

/*=================
ESTILOS ICONOS SIMBOLOGIA
=================*/
.referencia {
    background: #ffffff;
    color: rgb(0, 0, 0);
    display: inline-block;
    /* font-size: 1.25em; */
    /* margin: 4px; */
    margin: 0px 4px;
    padding: 10px 0px;
    text-align: center;
}

.referencia i {
    margin-right: 4px;
}

/*=================
ESTILOS FORMULARIO VER INFORMACIÓN
=================*/
textarea {
    resize: none;
}

.re {
    width: 100%;
    display: flex;
    justify-content: right;
    
}

.accionesPeticion {
    /* width: 25%;
    height: 25%; */
    margin: 3px;
}

.accionesDesarrollador {

    margin: 3px;
}

/*=================
ESTILOS FILTROS
=================*/
.flex-container {
    display: flex;
    justify-content: flex-end;
   
}

.flex-container>div {
    width: auto;
    text-align: center;
    margin: 0px 10px;
}

.flex-container>div>input{
    display: inline;
    width: auto;
    
}

.flex-container>div>select{
    display: inline;
    width: auto;
    
}

.flex-container>div>button{
    display: inline;
    width: auto;
    
}

.flex-container_2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
   
}

.flex-container_2>div {
    width: auto;
    text-align: center;
    margin: 0px 10px;
}

.flex-container_2>div>input{
    display: inline;
    width: auto;
    
}

.flex-container_2>div>select{
    display: inline;
    width: auto;
    
}

.flex-container_2>div>button{
    display: inline;
    width: auto;
    
}

/*=================
MEDIA QUERY
=================*/
@media screen and (max-width: 1199px) {

    .boton {
        margin-bottom: 2px;
    }

    .flex-container {
        flex-direction: column;
        
    }
    
    .flex-container>div {

        width: 100%;
        text-align: left;
        margin: 5px 0px;
    }
    
    .flex-container>div>input{
        display: inline;
        width: 100%;
        
    }
    
    .flex-container>div>select{
        display: inline;
        width: 100%;
        
    }
    
    .flex-container>div>button{
        display: inline;
        width: 100%;
        
    }
    



}